@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

.app {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.upload-section, .uploaded-files-list {
  margin-bottom: 20px;
}

.upload-area {
  border: 2px dashed #ccc;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  font-size: 20px;
}

.displayfile-area {
  border: 2px solid #ccc;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  font-size: 20px;
  height: 120px;
}

.upload-button {
  background-color: #4663B7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px;
}

.print-button {
  background-color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #000000;
  cursor: pointer;
  width: 200px;
  height:70px;
  margin-top: 20px;
  margin-left: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border-bottom: 1px solid #ddd;
}

th {
  color: #7E7E7E;
  vertical-align: middle; 
  text-align: center;
  margin-left: 8px;
  line-height: 20px;
  padding: 20px;
}

td {
  vertical-align: middle; 
  text-align: center;
  margin-left: 8px;
  line-height: 20px;
  padding: 20px;
  font-size:18px;
}


.ico {
  width: 80px;
  height: auto;
}

.ico2 {
  width: 50px; /* Đặt kích thước icon */
  height: auto; /* Đảm bảo icon có chiều cao cố định */
  vertical-align: middle;
}

.column1{
  float: left;
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
}
.column2{
  text-align: left;
  width: 80%; 
  padding: 10px;
  box-sizing: border-box;
}

